*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('../images/Future-casino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw; /* Use 100vw for full width of the viewport */
    display: grid;
    place-items: left;
}

.login-page{
    color: white;
}

.game-page{
    color: white;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 20px;
}

/*.background-img{
    background-image: url('../images/Future-casino.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}*/

.card{
    width: 400px;
    perspective: 1000px;
}


.card-content{
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 3s;
    background: pink;
    transform-style: preserve-3d;
    border-radius: 25px;
    color: rgb(255, 255, 255);
}

.card.flipped .card-content{
    transform: rotateY(.5turn);
}

.card-front,
.card-back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card-front{
    background: rgb(8, 9, 10);
    border-radius: 25px;
}

.card-title{
    font-size: 1rem;
    transform: translateZ(6rem);
    color: white;
}


.card-body{
    transform: translateZ(4rem);
    
}

.card-subtitle{
    transform: translateZ(4rem);
}


.card-back{
    transform: rotateY(.5turn);
    background: lightblue;
    border-radius: 25px;
}
